html, body {
  margin:0;
  padding:0;
}

table {
  margin:20px;
  padding:0px;
  border-collapse: collapse;
}

tr, td, th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px; 
  padding-right: 60px; 
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.center
{
  margin: 0 auto;
  width: 750px;
}

.mapcenter
{
  margin: 0 auto;

}

#topbar
{
  width: 100%; 
  background-color: #AAAAAA;
}

#sitename
{
  display: inline; 
  background-color: #AAAAAA;
  min-width: 600px; 
  font-size: 280%;
  display: block;
  font-weight: bold; 
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 20px;
  font-style: italic; 
  text-align: left; 
  margin: 0 auto;
  width: 750px; 
}

#sitename a {
  text-decoration: none;
  color: #000082;
}

.topcolor
{
  background-color: #CCEECC;
  width: 100%; 
}

#description
{
  border-top-style:solid;
  border-top:thick double #000000;
  border-bottom-style:solid;
  border-bottom:thick double #000000;
  padding-top: 20px;
  width: 100%;
  position: relative;
  top: 40px;
  overflow: hidden; 
}

#photo
{
  border-style: solid;
  border-width: 2px;
  width: 160px;
}

#simplephoto
{
  padding-right: 15px;
  float: left; 
}

ul.topnav {
  min-width: 775px; 
  list-style: none;
  padding: 0 0px;	
  margin: 0 auto;
  font-size: 1.2em;
  position: relative;  
  float: right; 
  right: 50%; 
}

.topnav li {
  float: left;
  margin: 0;	
  padding: 0 60px 0 0;
  position: relative; /*--Declare X and Y axis base for sub navigation--*/
  left: 50%; 
}


li a{
  padding: 10px;
  color: #FFF;
  display: block;
  text-decoration: none;
  font-weight: bold; 
}å


#projects li{
  list-style: none;
}

#humor li{
  list-style-type: disc;
}

.projectTitle {
  font-size: 120%; 
  font-weight:bold;
  color: black; 
  text-decoration: underline;
}

#projects .description{
  padding: 10px; 
}

#projects a{
  padding: 0px;
  color: blue;
  display: inline;
  font-weight: bold; 
}

#humor a{
  padding: 0px;
  color: blue;
  display: inline;
  font-weight: bold; 
}


li.navitem ul.submenu {
  list-style: none;
  position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
  left: 0; top: 100%;
  background: #444444;
  font-size: 80%;  
  margin-top: 0px; padding: 0;
  display: none;
  float: left;
  z-index: 5; 
  width: 100%; 
}

li.writings{
  width: 100%; 
  left: 0%; 
  padding-right: 0; 
}

li.connect {
  width: 100%;
  left: 0%;   
  padding-right: 0; 
}

#aboutme {
  width: 100.0%;
  margin-right: 1.5%;  
  position: relative; 
  float: left; 
}

#footer1 {
  background-color: black;
  width: 100%;
  margin-top: 40px; 
  align: center; 
  height: 30px;  
  border-bottom: thin white;
  border-bottom-style: solid;
}

#copyright {
  padding: 8px; 
  color: white;
  font-weight: bold; 
  text-align: left; 
}

#footer2 {
  background-color: black;
  width: 100%;
  align: center; 
  height: 50px; 
}

.widebar {
  width: 100%;
  float: left; 
  background-color: #444444;
  position: relative; 
}

.title {
  font-style: italic; 
  padding-bottom: 0; 
  margin-bottom: 0; 
}

.title a {
  color: blue; 
  text-decoration: underline; 
  padding: 0; 
  margin: 0;
  display: inline; 
}

.reflist {
  list-style: none; 
  padding-top: 0; 
  margin-top: 0; 
}

.acadcategory {
  font-size: 125%;
  font-weight: bold;
  padding-left: 0px;  
}

#acadtitle {
  text-align: center; 
  font-size: 200%;
  font-weight: bold; 
}

#viewport{
  display: block;
  margin: 0 auto;
  z-index: 5; 
}

#poemspace
{
    background-color: red;
    height: 800px;
    width: 500px;
    position: absolute;
    float: right; 
    top:150px;
    z-index: 5 
}

#poemnav
{
  float: right;
}

#spanner { 
  width: 100%;
  position: absolute;
  top: 150px; 
}

#content a 
{
  text-align: right; 
  float: left; 
  font-weight: bold; 
  margin-left: 20em; 
}

div#content {
  position: absolute;   /* positions content on top of distance */
  text-align: left;     /* horizontal centering hack for IE */
  height: 32em;         /* required - desired height */
  width: 26em;          /* required - desired width */
  background: #FFFFC2;     /* cosmetic */
  margin: 0 auto;       /* required */
  clear: left;          /* required */
  overflow-y: auto; 
  padding: 20px; 
}
 
#poem 
{
  padding-top: 20px; 
}

ul.poemoptions {
  list-style: none;
  position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
  left: 100%; 
  background: #444444;
  font-size: 75%;  
  padding: 0;
  display: none;
  float: left;
  z-index: 10; 
  border-color: black;
  border-width: 2px; 
  border-style: solid;
} 

.poemoptions li{
  left: 0; 
  width: 100%;    
}


ul.articleoptions {
  list-style: none;
  position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
  left: 100%; 
  top: 33.33%; 
  background: #444444;
  font-size: 75%;  
  padding: 0;
  display: none;
  float: left;
  z-index: 10; 
  border-color: black;
  border-width: 2px; 
  border-style: solid;
} 

.articleoptions li{
  left: 0; 
  width: 100%;  
}

.articleTitle {
  font-size: 120%; 
  font-weight:bold;
  color: black; 
}

#poemlist {
  height: 500px;
  width: 48.7%;
  float: left;
  border-color: black;
  border-width: 5px;
  border-style: solid; 
  margin-bottom: 20px; 
  overflow: auto; 
}

#poemdisplay {
  height: 500px;
  width: 48.6%;
  float: left;
  border-color: black;
  border-width: 5px;
  border-style: solid; 
  margin-bottom: 20px; 
  overflow: auto; 
  background-color: #DDDDFF;
}

.poemlink1bg {
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-left: 15px; 
  background-color: #CCCCCC;
}

.poemlink0bg {
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-left: 15px; 
  background-color: #999999;
}

.poemlink1bg a, .poemlink0bg a{
  color: blue;
  text-decoration: none; 
  font-weight: bold; 
  font-size: 110%; 
}

#poemtext {
  margin: 20px; 
}

#updates h1, #readingrecs h1{
  text-align: center; 
  font-size: 115%; 
  margin-top: 3%; 
}

#updates p, #readingrecs p{
  padding-left: 10px;
  padding-right: 10px; 
}

#updates{
  height: 70%;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid; 
}

#readingrecs{
  height: 42%;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid; 
}

#sidepanel{
  width: 30%;
  height: 510px; 
  float: right;
  text-align: left; 
  background-color: #AAAAFF;
  position: relative; 
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.domain {
  color: black; 
  font-weight: bold; 
  text-decoration: none; 
}

#testviewport {
  background-color: blue; 
}

.inlineLink {
        text-decoration: none; 
        color: blue;
  margin: 0 0 0 0; 
  padding: 0 0 0 0; 
        font-weight: normal; 
        display:inline;
}
